@import 'primevue/resources/themes/aura-light-green/theme.css';
@import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css';
@import 'maplibre-gl/dist/maplibre-gl.css';

/* Add these base styles */
html, 
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__nuxt {
  height: 100%;
}

.maplibregl-canvas-container {
  width: 100%;
  height: 100%;
}

.maplibregl-canvas {
  width: 100% !important;
  height: 100% !important;
}